// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$hover: #17a2b8;
$gold: #EBAD25;
$sepia: #b2913c;
$turq: #00554F;
// $background-color: #003a35;
// $background-color: #011916;
$background-color: #011110;

$maroon: #760A15;
