// Specific CSS for your home-page
.categories {
  display: flex;
  justify-content: center;
  a {
    img {
    height: 80px;
    margin: 0 24px;
    filter: brightness(80%);

    }
    &:hover {
      img {
        filter: brightness(100%);
      }
    }
  }
}
