<%= simple_form_for :search, url: listings_path, method: "GET" do |f| %>
<div class="d-flex justify-content-center">
  <div class="form-group mr-5">
    <%= f.input :category, placeholder: 'couch'%>
  </div>
  <div class="form-group d-flex align-items-center mb-0 mt-2">
  <%= f.submit "Search for Listing", class: "btn btn-light btn-sm" %>
  </div>
</div>
<% end %>
