<%= simple_form_for :search, url: listings_path, method: "GET" do |f| %>
<div class="search-form">
    <%= f.input :address, placeholder: 'Address', label: false %>
    <%= f.submit "Search for nap", class: "btn btn-secondary" %>
</div>
<% end %>
