// --- HOME PAGE --- //

.home-card {
  color: rgba(255,255,255,0.85);
  height: 420px;
  width: 17rem;
  margin: 0.5rem !important;
  background:
      linear-gradient(to top, rgba(0,0,0,0), rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07));
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    &:hover {
      color: $hover;
      text-decoration: none;
      }
  }
}


.home-card-img {
  position: relative;
  transition: display .6s ease;
h3{
    transition: display .6s ease;

}
  img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  &:hover {
    .home-card-title {
      display: none;
    }
    .img-gradient:after {
      display: none;
    }
  }
}

.home-card-title {
  transition: display .6s ease;
  color: white;
  font-family: $card-headers-font;
  font-weight: bold;
  text-align: center;
  position: absolute;
  opacity: 0.82;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-gradient{
  position:relative;
  display:inline-block;
}

.img-gradient:after {
  content:'';
  transition: .6s ease;
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  background:
      linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.2));
  background-blend-mode: screen;
  display:inline-block;
  border-radius: 10px 10px 0 0;
}

.img-gradient img{
  display:block;
}

.home-card-body {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px 16px;
}

.card-product {
  overflow: hidden;
  height: 170px;
  background:
      linear-gradient(to left, rgba(0,0,0,0), rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.07));
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  img {width: 240px;
       height: 100%;
       object-fit: cover;}
}

.card-product h2 {
  color: $sepia;
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.card-product p:not(.price) {
  color: white;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
}

.card-product-content {
  padding: 24px 16px;
}

.listing-card {
  margin: 0 0 24px;
  // position: relative;
}

.listing-addons {
  display: flex;
  align-items: left;
  padding: 12px 12px 0;
  img {
    width: 30px;
    padding-right: 6px;
  }
}

.img-layout {
  width: 100%;
}

.card a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  &:hover {
    color: $hover;
    text-decoration: none;
    }
}

.price {
  font-family: $price-font;
  font-size: 28px;
  color: $sepia;
  opacity: .85;
  margin-bottom: 0;
  margin-left: 8px;
}
