.navbar-lewagon {
  justify-content: space-between;
  background: rgba(0,0,0,0.2);
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand h3 {
  color: #037d88;
}
