.navbar-lewagon {
  justify-content: space-between;
  // background: rgba(0,0,0,0.5);
  background:
      linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0.6));
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand h3 {
  color: #037d88;
}

.logo {
  text-shadow: 1px 2px 10px rgba(0,0,0,0.9);
}
