.index-container {
  display: flex;
  flex-direction: column;
  // height: calc(100vh - 70px);
  width: 100%;
  padding: 16px;
  margin-top: 48px;
}

.results {
  overflow-y: scroll;
  // height: 72vh;
  // height: calc(100vh - 70px - 189px - 50px);
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    &:hover {
      h2 {color: $hover;}
    }
  }
}

.map-wrapper {
  position: relative;
  padding: 0;
}

#map {
  position: sticky;
  top: 0;
  width: 100%;
}

.upload-photo {
  margin-top: 32px;
  border: 1px solid #d3d3d3;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.upload-photo-user {
  border: 1px solid #d3d3d3;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}
