.show-container {
  width: 95%;
  display: inline-flex;
}

.big-img {
  width: 100%;
}

.small-img {
  width: 100%;
}

.stars {
  color: $gold;
  font-size: 14px;
  margin-bottom: 24px;
}

.category {
  background: rgba(0, 0, 0, 0.1);
  padding: 4px;
  display: inline-block;
  border-radius: 4px;
}

.listing-wrapper {
  background: white;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.1);
  margin: 0;
  padding: 0;
}

.reviews {
  padding: 16px;
}

