// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "listings/index";
@import 'listings/show';
@import 'components/footer';

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  animation: fake 1s infinite;
//   line-height: 1.5;
//   font-size: 1em;
}
.content {
  flex: 1 0 auto;
  background: rgba(0,0,0,0);
}

@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opactity: 1
  }
}

.radio-tabs .state {
  position: absolute;
  left: -10000000px;
}
.tabs {
  display: flex;
  justify-content: space-around;
}

.tab {
  font-size: 24px;
  display: inline-block;
  padding: .5em;
  vertical-align: top;
  background-color: rgba(0,0,0,0);
  cursor: hand;
  cursor: pointer;
  &:hover{
    color: gray;
  }
}

.panel {
  display: none;
}
.radio-tabs .panel {
  display: none;
}
#bookings:checked ~ .tabs #bookings-tab,
#listings:checked ~ .tabs #listings-tab{
  border-bottom: 1px solid gray;
}
#bookings:checked ~ .panels #bookings-panel,
#listings:checked ~ .panels #listings-panel{
  display: block;
}

.swal-overlay {
  background-color: rgba(50, 50, 50, 0.8);
}

.red-color
{
color:red
}
